<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mantoto.property"
    android:versionCode="10"
    android:versionName="2.0.2" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:name="com.wuxianyingke.property.PropertyApplication"
        android:debuggable="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wn4hf0DqEXK9DLhzcOhXpOZB" />
		<meta-data android:name="com.amap.api.v2.apikey" android:value="1e845eb322cf591e08b6dfd637d1ede3"/>
        <activity
            android:name="com.wuxianyingke.property.activities.SplashActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wuxianyingke.property.activities.PropertyNotificationInfoActivity"
                  android:configChanges="orientation|keyboardHidden|navigation"
                  android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.ModifyPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.FindPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.Radio1Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.Radio1InfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.Radio2Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.wuxianyingke.property.activities.Radio3Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.AddMessageActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.MessageActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />

        <activity
                android:name="com.wuxianyingke.property.activities.RepairListActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.wuxianyingke.property.activities.RepairLogActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:screenOrientation="portrait" />
        <activity
                android:name="com.wuxianyingke.property.activities.RepairInfoActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:screenOrientation="portrait" />

        <activity
            android:name="com.wuxianyingke.property.activities.MessageInfoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.Radio4Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.Radio5Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.LivingCircleActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.AppPopularizeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />   
        <activity
            android:name="com.wuxianyingke.property.activities.WifiPasswordActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />         
        <activity
            android:name="com.wuxianyingke.property.activities.InvitationCodeActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.CommonInfomationActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.PaidServicesActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.ContactPublisherActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.ReleaseGoodsActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
                android:name="com.wuxianyingke.property.activities.RepairActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.FleaOwnerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.SettingActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.LoginActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.AboutActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.HelpActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.wuxianyingke.property.activities.Register1Activity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wuxianyingke.property.activities.ProductListActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.StickerActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.AddBianqianActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.JiaoTongActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.lukuangActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.YiLiaoActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.dizhiActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="com.wuxianyingke.property.activities.CanYinListActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.GouWuListActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.ShengHuoFuWuListActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.CanyinDetailActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.CanyinDetailTuanListActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.LivingAddressActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.property.activities.CanyinDetailOwnActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        
        <service
            android:name="com.wuxianyingke.property.push.AlarmService"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.wuxianyingke.property.push.PushActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wuxianyingke.gaode.RouteActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="com.wuxianyingke.property.activities.CollectionListActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:screenOrientation="portrait" >
        </activity>
        
        <receiver android:name="com.wuxianyingke.property.push.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.3" >
                </action>
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>

    <!-- 高德地图  -->
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> 
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
</manifest>